image:
  repository: alpacamarkets/marketstore
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart version.
  # tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

mktsConfig: |-
  root_directory: /data
  listen_port: 5993
  # grpc_listen_port: 5995
  timezone: UTC
  disable_variable_compression: true

service:
  type: ClusterIP
  port: 5993  # Change to 5995 when running with grpc

replicaCount: 1

persistence:
  enabled: true
  ## A manually managed Persistent Volume and Claim
  ## If defined, PVC must be created manually before volume will be bound
  ## The value is evaluated as a template, so, for example, the name can depend on .Release or .Chart
  # existingClaim:

  ## If undefined (the default) or set to null, no storageClassName spec is
  ## set, choosing the default provisioner.
  # storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 8Gi
  annotations: {}

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
