version: 2.1

executors:
  golang:
    working_directory: ~/github.com/alpacahq/marketstore
    docker:
      - image: circleci/golang:1.14.1

variables:
  - filters: &all
      branches:
        only: /.*/
      tags:
        only: /.*/

jobs:
  build:
    executor: golang
    steps:
      - checkout
      - run: make build

  plugins:
    executor: golang
    steps:
      - checkout
      - run: make plugins

  unit-test:
    executor: golang
    steps:
      - run: make unit-test
      - run:
          name: Upload coverages to codecov
          command: |
            bash <(curl -s https://codecov.io/bash)

  import-csv-test:
    executor: golang
    steps:
      - run: make import-csv-test

  integration-test:
    executor: golang
    steps:
      - setup_remote_docker
      - run: make integration-test

  deploy:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run: DOCKER_TAG=$CIRCLE_TAG make push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters: *all
          post-steps:
            - persist_to_workspace:
                root: ~/github.com/alpacahq/marketstore
                paths:
                  # reuse the built binary at test job
                  - marketstore
      - plugins:
          filters: *all
      - unit-test:
          pre-steps:
            - checkout
          filters: *all
      - import-csv-test:
          requires:
            - build
          pre-steps:
            - checkout
            - attach_workspace:
                at: ~/github.com/alpacahq/marketstore
          filters: *all
      - integration-test:
          pre-steps:
            - checkout
          filters: *all
      - deploy:
          requires:
            - build
            - unit-test
            - integration-test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
