version: 2.1

executors:
  golang:
    working_directory: ~/github.com/alpacahq/marketstore
    docker:
      - image: circleci/golang:1.12.6

jobs:
  build:
    executor: golang
    steps:
      - checkout
      - run: make build plugins

  test:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run: make unittest
      - run:
          name: Upload coverages to codecov
          command: |
            bash <(curl -s https://codecov.io/bash)
  deploy:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run: DOCKER_TAG=$CIRCLE_TAG make push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
          post-steps:
            - persist_to_workspace:
                root: ~/github.com/alpacahq/marketstore
                paths:
                  # reuse the built binary at test job
                  - ./marketstore
      - test:
          pre-steps:
            - attach_workspace:
                at: ~/github.com/alpacahq/marketstore
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
