version: 2.1

executors:
  golang:
    working_directory: ~/github.com/alpacahq/marketstore
    docker:
      - image: circleci/golang:1.12.6

jobs:
  build:
    executor: golang
    steps:
      - checkout
      - run: make all plugins

  test:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run: make install unittest
      - run:
          name: Upload coverages to codecov
          command: |
            bash <(curl -s https://codecov.io/bash)
  deploy:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run: DOCKER_TAG=$CIRCLE_TAG make push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
