version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - run: make all plugins

  reviewdog:
    docker:
      - image: golangci/golangci-lint:latest

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - run:
          name: Install reviewdog
          command: |
            curl -fSL https://github.com/haya14busa/reviewdog/releases/download/0.9.11/reviewdog_linux_amd64 -o reviewdog && chmod +x ./reviewdog
      - run:
          name: Run reviewdog
          command: |
            ./reviewdog -conf=.reviewdog.yml -diff="git diff master" -reporter=github-pr-review

  test:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - setup_remote_docker
      - run: make install unittest
      - run:
          name: Upload coverages to codecov
          command: |
            bash <(curl -s https://codecov.io/bash)

  deploy:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - setup_remote_docker
      - run: DOCKER_TAG=$CIRCLE_TAG make push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - reviewdog:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/