version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - run: make all plugins

  test:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - run: make install test
  
  deploy:
    docker:
      - image: circleci/golang:1.12.6

    working_directory: ~/github.com/alpacahq/marketstore
    steps:
      - checkout
      - setup_remote_docker
      - run: DOCKER_TAG=$CIRCLE_TAG make push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
